# 201600282 엄기산

# Test Case 크롤링 후 데이터 전처리

In [49]:
import pandas as pd
import csv
import numpy as np

# 1)크롤링 데이터 확인하기

In [2]:
df_theater = pd.DataFrame(pd.read_csv("./theater_test3.csv"))
df_theater

             날짜  총 예매인원
0    2018-01-01  397880
1    2018-01-02  156874
2    2018-01-03  157170
3    2018-01-04  153551
4    2018-01-05  181512
..          ...     ...
360  2018-12-27  121848
361  2018-12-28  145457
362  2018-12-29  254597
363  2018-12-30  249280
364  2018-12-31  215477

[365 rows x 2 columns]

In [3]:
df_weather = pd.DataFrame(pd.read_csv("./weather_test3.csv"))
df_weather

             날짜    날씨
0    2018-01-01    맑음
1    2018-01-02  구름조금
2    2018-01-03  구름조금
3    2018-01-04  구름많음
4    2018-01-05  구름조금
..          ...   ...
360  2018-12-27    맑음
361  2018-12-28    맑음
362  2018-12-29    맑음
363  2018-12-30    맑음
364  2018-12-31    맑음

[365 rows x 2 columns]

# 2) 데이터 전처리
## 2-1) 날씨데이터 전처리

날씨를 구분하기 위해서 총 몇개의 날씨 종류가 있는지 확인을 한다.

In [4]:
we_list = df_weather["날씨"].values
we_set = set(we_list)
we_value = list(we_set)
weather_list = []
for value in we_value:
    temp = value.split('/')
    for val in temp:
        weather_list.append(val)
weather_set = set(weather_list)
weather_value = list(weather_set)
weather_value

['소낙눈',
 '안개',
 '소나기',
 '비',
 '천둥번개',
 '맑음',
 '눈',
 '흐림',
 '구름조금',
 '이슬비',
 '황사',
 '구름많음',
 '진눈개비',
 '우박']

즉 총 14개의 날씨로 구분이 가능하며 이 날씨들은 하루에 여러개가 중복되에 나타날 수 있다.

그러면 이제 frame_we에 있는 날씨 열을 14개의 열로 쪼개어 나타내보자

그 후 각 날씨에 따라 영화 예매에 얼마나 미치는지 확인을 한다.

In [5]:
df_weather['맑음']=0
df_weather['비']=0
df_weather['눈']=0
df_weather['진눈개비']=0
df_weather['황사']=0
df_weather['흐림']=0
df_weather['구름많음']=0
df_weather['구름조금']=0
df_weather['안개']=0
df_weather['소낙눈']=0
df_weather['소나기']=0
df_weather['이슬비']=0
df_weather['천둥번개']=0
df_weather['우박']=0
df_weather

,날짜,날씨,맑음,비,눈,진눈개비,황사,흐림,구름많음,구름조금,안개,소낙눈,소나기,이슬비,천둥번개,우박
0,2018-01-01,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018-01-02,구름조금,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018-01-03,구름조금,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018-01-04,구름많음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018-01-05,구름조금,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
361,2018-12-28,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
362,2018-12-29,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
363,2018-12-30,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0
364,2018-12-31,맑음,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
for index, data in enumerate(df_weather['날씨']):
    value = data.split('/')
    for val in value:
        df_weather.loc[index,val] = 1
del df_weather['날씨']

In [7]:
df_weather

,날짜,맑음,비,눈,진눈개비,황사,흐림,구름많음,구름조금,안개,소낙눈,소나기,이슬비,천둥번개,우박
0,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018-01-02,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2018-01-03,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,2018-01-04,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,2018-01-05,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,1,0,0,0,0,0,0,0,0,0,0,0,0,0
361,2018-12-28,1,0,0,0,0,0,0,0,0,0,0,0,0,0
362,2018-12-29,1,0,0,0,0,0,0,0,0,0,0,0,0,0
363,2018-12-30,1,0,0,0,0,0,0,0,0,0,0,0,0,0
364,2018-12-31,1,0,0,0,0,0,0,0,0,0,0,0,0,0

## 2-2) DataFrame 합친 후 요일별로 나누기

### df_weather = 요일별 나누기 전 데이터

In [8]:
df_weather['예매인원'] = df_theater['총 예매인원']


num_of_day ={
    0 : '월',
    1 : '화',
    2 : '수',
    3 : '목',
    4 : '금',
    5 : '토',
    6 : '일'
}

df_weather['날짜'] = pd.to_datetime(df_weather['날짜'],format='%Y-%m-%d')

df_weather['요일'] = [num_of_day[k] for k in df_weather['날짜'].dt.dayofweek]

df_weather

,날짜,맑음,비,눈,진눈개비,황사,흐림,구름많음,구름조금,안개,소낙눈,소나기,이슬비,천둥번개,우박,예매인원,요일
0,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,397880,월
1,2018-01-02,0,0,0,0,0,0,0,1,0,0,0,0,0,0,156874,화
2,2018-01-03,0,0,0,0,0,0,0,1,0,0,0,0,0,0,157170,수
3,2018-01-04,0,0,0,0,0,0,1,0,0,0,0,0,0,0,153551,목
4,2018-01-05,0,0,0,0,0,0,0,1,0,0,0,0,0,0,181512,금
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,1,0,0,0,0,0,0,0,0,0,0,0,0,0,121848,목
361,2018-12-28,1,0,0,0,0,0,0,0,0,0,0,0,0,0,145457,금
362,2018-12-29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,254597,토
363,2018-12-30,1,0,0,0,0,0,0,0,0,0,0,0,0,0,249280,일
364,2018-12-31,1,0,0,0,0,0,0,0,0,0,0,0,0,0,215477,월

### df_weather 데이터 요일별로 나누기 df_요일

In [12]:
df_mon = pd.DataFrame(df_weather.iloc[0]).T
for i in range(1,((365//7)+1)):
    idx = i*7 + 0
    df_mon = df_mon.append(df_weather.iloc[idx])    
df_mon = df_mon.drop(['요일'],axis=1)



df_tue = pd.DataFrame(df_weather.iloc[1]).T
for i in range(1,(365//7)):
    idx = i*7 + 1
    df_tue = df_tue.append(df_weather.iloc[idx])    
df_tue = df_tue.drop(['요일'],axis=1)



df_wed = pd.DataFrame(df_weather.iloc[2]).T
for i in range(1,(365//7)):
    idx = i*7 + 2
    df_wed = df_wed.append(df_weather.iloc[idx])    
df_wed = df_wed.drop(['요일'],axis=1)



df_thr = pd.DataFrame(df_weather.iloc[3]).T
for i in range(1,(365//7)):
    idx = i*7 + 3
    df_thr = df_thr.append(df_weather.iloc[idx])   
df_thr = df_thr.drop(['요일'],axis=1)



df_fri = pd.DataFrame(df_weather.iloc[4]).T
for i in range(1,(365//7)):
    idx = i*7 + 4
    df_fri = df_fri.append(df_weather.iloc[idx])    

df_fri = df_fri.drop(['요일'],axis=1)



df_sat = pd.DataFrame(df_weather.iloc[5]).T
for i in range(1,(365//7)):
    idx = i*7 + 5
    df_sat = df_sat.append(df_weather.iloc[idx])    

df_sat = df_sat.drop(['요일'],axis=1)



df_sun = pd.DataFrame(df_weather.iloc[6]).T
for i in range(1,(365//7)):
    idx = i*7 + 6
    df_sun = df_sun.append(df_weather.iloc[idx])    

df_sun = df_sun.drop(['요일'],axis=1)

## 2-3) 요일에 대한 가중치 값 구해서 요일이 영화 예매에 미치는 영향 줄이기

### df = 요일에 대한 가중치값 적용한 데이터

In [13]:
date = pd.DataFrame([['월',df_mon['예매인원'].mean()],
                     ['화',df_tue['예매인원'].mean()],
                     ['수',df_wed['예매인원'].mean()],
                     ['목',df_thr['예매인원'].mean()],
                     ['금',df_fri['예매인원'].mean()],
                     ['토',df_sat['예매인원'].mean()],
                     ['일',df_sun['예매인원'].mean()]],columns=['요일','평균값'])

weight = 150000/date['평균값']
weight

0    1.511737
1    1.525341
2    1.036757
3    1.392795
4    1.178438
5    0.634252
6    0.720545
Name: 평균값, dtype: float64

### 가중치 적용후 다시 데이터 합치기 
### 합친 결과 = df

In [14]:
df_mon['예매인원'] = df_mon['예매인원']*weight[0]

df_tue['예매인원'] = df_tue['예매인원']*weight[1]

df_wed['예매인원'] = df_wed['예매인원']*weight[2]

df_thr['예매인원'] = df_thr['예매인원']*weight[3]

df_fri['예매인원'] = df_fri['예매인원']*weight[4]

df_sat['예매인원'] = df_sat['예매인원']*weight[5]

df_sun['예매인원'] = df_sun['예매인원']*weight[6]

df = pd.concat([df_mon,df_tue,df_wed,df_thr,df_fri,df_sat,df_sun])
df = df.sort_values(by=['날짜'])

df

,날짜,맑음,비,눈,진눈개비,황사,흐림,구름많음,구름조금,안개,소낙눈,소나기,이슬비,천둥번개,우박,예매인원
0,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,601489.83086
1,2018-01-02,0,0,0,0,0,0,0,1,0,0,0,0,0,0,239286.328194
2,2018-01-03,0,0,0,0,0,0,0,1,0,0,0,0,0,0,162947.101467
3,2018-01-04,0,0,0,0,0,0,1,0,0,0,0,0,0,0,213865.097784
4,2018-01-05,0,0,0,0,0,0,0,1,0,0,0,0,0,0,213900.611156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,1,0,0,0,0,0,0,0,0,0,0,0,0,0,169709.31114
361,2018-12-28,1,0,0,0,0,0,0,0,0,0,0,0,0,0,171412.034449
362,2018-12-29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,161478.68234
363,2018-12-30,1,0,0,0,0,0,0,0,0,0,0,0,0,0,179617.396278
364,2018-12-31,1,0,0,0,0,0,0,0,0,0,0,0,0,0,325744.506596

### 예매인원의 날씨 변화에 대한 변화량 계산

In [16]:
for i in range(1,365):
    df['예매인원'][i] -= df['예매인원'][i-1]
    
df = df.drop([df.index[0]])
df

<ipython-input-16-6399d97f3e71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예매인원'][i] -= df['예매인원'][i-1]

,날짜,맑음,비,눈,진눈개비,황사,흐림,구름많음,구름조금,안개,소낙눈,소나기,이슬비,천둥번개,우박,예매인원
1,2018-01-02,0,0,0,0,0,0,0,1,0,0,0,0,0,0,-362203.502667
2,2018-01-03,0,0,0,0,0,0,0,1,0,0,0,0,0,0,525150.604134
3,2018-01-04,0,0,0,0,0,0,1,0,0,0,0,0,0,0,-311285.506349
4,2018-01-05,0,0,0,0,0,0,0,1,0,0,0,0,0,0,525186.117505
5,2018-01-06,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-295544.996047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1059175.554825
361,2018-12-28,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-887763.520376
362,2018-12-29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1049242.202716
363,2018-12-30,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-869624.806438
364,2018-12-31,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1195369.313033

In [44]:
index = ['기준 날씨','날씨 변화','평균 변화율','데이터 갯수']

diff = sum(df['예매인원'])//len(df['예매인원'])

### 날씨 변화량에 따른 예매 변화율 계산 ( 다변수 함수의 편미분값 )

In [59]:
data1_0 = []
data1_1 = []
data1_2 = []
data1_3 = []


for i in range(2,365):
    if df['맑음'][i-1]==0 and df['맑음'][i] ==0:
        data1_0.append(df['예매인원'][i])
    elif df['맑음'][i-1]==0 and df['맑음'][i] ==1:
        data1_1.append(df['예매인원'][i])
    elif df['맑음'][i-1]==1 and df['맑음'][i] ==0:
        data1_2.append(df['예매인원'][i])
    elif df['맑음'][i-1]==1 and df['맑음'][i] ==1:
        data1_3.append(df['예매인원'][i])

df_data1 = pd.DataFrame([['맑음',0,(sum(data1_0)/len(data1_0)-diff)/diff,len(data1_0)],
                         ['맑음',1,(sum(data1_1)/len(data1_1)-diff)/diff,len(data1_1)],
                         ['맑음',2,(sum(data1_2)/len(data1_2)-diff)/diff,len(data1_2)],
                         ['맑음',3,(sum(data1_3)/len(data1_3)-diff)/diff,len(data1_3)]],columns = index)




data2_0 = []
data2_1 = []
data2_2 = []
data2_3 = []


for i in range(2,365):
    if df['비'][i-1]==0 and df['비'][i] ==0:
        data2_0.append(df['예매인원'][i])
    elif df['비'][i-1]==0 and df['비'][i] ==1:
        data2_1.append(df['예매인원'][i])
    elif df['비'][i-1]==1 and df['비'][i] ==0:
        data2_2.append(df['예매인원'][i])
    elif df['비'][i-1]==1 and df['비'][i] ==1:
        data2_3.append(df['예매인원'][i])

df_data2 = pd.DataFrame([['비',0,(sum(data2_0)/len(data2_0)-diff)/diff,len(data2_0)],
                         ['비',1,(sum(data2_1)/len(data2_1)-diff)/diff,len(data2_1)],
                         ['비',2,(sum(data2_2)/len(data2_2)-diff)/diff,len(data2_2)],
                         ['비',3,(sum(data2_3)/len(data2_3)-diff)/diff,len(data2_3)]],columns = index)




data3_0 = []
data3_1 = []
data3_2 = []
data3_3 = []


for i in range(2,365):
    if df['눈'][i-1]==0 and df['눈'][i] ==0:
        data3_0.append(df['예매인원'][i])
    elif df['눈'][i-1]==0 and df['눈'][i] ==1:
        data3_1.append(df['예매인원'][i])
    elif df['눈'][i-1]==1 and df['눈'][i] ==0:
        data3_2.append(df['예매인원'][i])
    elif df['눈'][i-1]==1 and df['눈'][i] ==1:
        data3_3.append(df['예매인원'][i])

df_data3 = pd.DataFrame([['눈',0,(sum(data3_0)/len(data3_0)-diff)/diff,len(data3_0)],
                         ['눈',1,(sum(data3_1)/len(data3_1)-diff)/diff,len(data3_1)],
                         ['눈',2,(sum(data3_2)/len(data3_2)-diff)/diff,len(data3_2)],
                         ['눈',3,(sum(data3_3)/len(data3_3)-diff)/diff,len(data3_3)]],columns = index)




data4_0 = []
data4_1 = []
data4_2 = []
data4_3 = []


for i in range(2,365):
    if df['진눈개비'][i-1]==0 and df['진눈개비'][i] ==0:
        data4_0.append(df['예매인원'][i])
    elif df['진눈개비'][i-1]==0 and df['진눈개비'][i] ==1:
        data4_1.append(df['예매인원'][i])
    elif df['진눈개비'][i-1]==1 and df['진눈개비'][i] ==0:
        data4_2.append(df['예매인원'][i])
    elif df['진눈개비'][i-1]==1 and df['진눈개비'][i] ==1:
        data4_3.append(df['예매인원'][i])

df_data4 = pd.DataFrame([['진눈개비',0,(sum(data4_0)/len(data4_0)-diff)/diff,len(data4_0)],
                         ['진눈개비',1,(sum(data4_1)/len(data4_1)-diff)/diff,len(data4_1)],
                         ['진눈개비',2,(sum(data4_2)/len(data4_2)-diff)/diff,len(data4_2)],
                         ['진눈개비',3,(sum(data4_3)/len(data4_3)-diff)/diff,len(data4_3)]],columns = index)




data5_0 = []
data5_1 = []
data5_2 = []
data5_3 = []


for i in range(2,365):
    if df['황사'][i-1]==0 and df['황사'][i] ==0:
        data5_0.append(df['예매인원'][i])
    elif df['황사'][i-1]==0 and df['황사'][i] ==1:
        data5_1.append(df['예매인원'][i])
    elif df['황사'][i-1]==1 and df['황사'][i] ==0:
        data5_2.append(df['예매인원'][i])
    elif df['황사'][i-1]==1 and df['황사'][i] ==1:
        data5_3.append(df['예매인원'][i])

df_data5 = pd.DataFrame([['황사',0,sum(data5_0)/len(data5_0)/diff,len(data5_0)],
                         ['황사',1,sum(data5_1)/len(data5_1)/diff,len(data5_1)],
                         ['황사',2,sum(data5_2)/len(data5_2)/diff,len(data5_2)],
                         ['황사',3,sum(data5_3)/len(data5_3)/diff,len(data5_3)]],columns = index)




data6_0 = []
data6_1 = []
data6_2 = []
data6_3 = []


for i in range(2,365):
    if df['흐림'][i-1]==0 and df['흐림'][i] ==0:
        data6_0.append(df['예매인원'][i])
    elif df['흐림'][i-1]==0 and df['흐림'][i] ==1:
        data6_1.append(df['예매인원'][i])
    elif df['흐림'][i-1]==1 and df['흐림'][i] ==0:
        data6_2.append(df['예매인원'][i])
    elif df['흐림'][i-1]==1 and df['흐림'][i] ==1:
        data6_3.append(df['예매인원'][i])

df_data6 = pd.DataFrame([['흐림',0,sum(data6_0)/len(data6_0)/diff,len(data6_0)],
                         ['흐림',1,sum(data6_1)/len(data6_1)/diff,len(data6_1)],
                         ['흐림',2,sum(data6_2)/len(data6_2)/diff,len(data6_2)],
                         ['흐림',3,sum(data6_3)/len(data6_3)/diff,len(data6_3)]],columns = index)




data7_0 = []
data7_1 = []
data7_2 = []
data7_3 = []


for i in range(2,365):
    if df['구름많음'][i-1]==0 and df['구름많음'][i] ==0:
        data7_0.append(df['예매인원'][i])
    elif df['구름많음'][i-1]==0 and df['구름많음'][i] ==1:
        data7_1.append(df['예매인원'][i])
    elif df['구름많음'][i-1]==1 and df['구름많음'][i] ==0:
        data7_2.append(df['예매인원'][i])
    elif df['구름많음'][i-1]==1 and df['구름많음'][i] ==1:
        data7_3.append(df['예매인원'][i])

df_data7 = pd.DataFrame([['구름많음',0,sum(data7_0)/len(data7_0)/diff,len(data7_0)],
                         ['구름많음',1,sum(data7_1)/len(data7_1)/diff,len(data7_1)],
                         ['구름많음',2,sum(data7_2)/len(data7_2)/diff,len(data7_2)],
                         ['구름많음',3,sum(data7_3)/len(data7_3)/diff,len(data7_3)]],columns = index)




data8_0 = []
data8_1 = []
data8_2 = []
data8_3 = []


for i in range(2,365):
    if df['구름조금'][i-1]==0 and df['구름조금'][i] ==0:
        data8_0.append(df['예매인원'][i])
    elif df['구름조금'][i-1]==0 and df['구름조금'][i] ==1:
        data8_1.append(df['예매인원'][i])
    elif df['구름조금'][i-1]==1 and df['구름조금'][i] ==0:
        data8_2.append(df['예매인원'][i])
    elif df['구름조금'][i-1]==1 and df['구름조금'][i] ==1:
        data8_3.append(df['예매인원'][i])

df_data8 = pd.DataFrame([['구름조금',0,sum(data8_0)/len(data8_0)/diff,len(data8_0)],
                         ['구름조금',1,sum(data8_1)/len(data8_1)/diff,len(data8_1)],
                         ['구름조금',2,sum(data8_2)/len(data8_2)/diff,len(data8_2)],
                         ['구름조금',3,sum(data8_3)/len(data8_3)/diff,len(data8_3)]],columns = index)




data9_0 = []
data9_1 = []
data9_2 = []
data9_3 = []


for i in range(2,365):
    if df['안개'][i-1]==0 and df['안개'][i] ==0:
        data9_0.append(df['예매인원'][i])
    elif df['안개'][i-1]==0 and df['안개'][i] ==1:
        data9_1.append(df['예매인원'][i])
    elif df['안개'][i-1]==1 and df['안개'][i] ==0:
        data9_2.append(df['예매인원'][i])
    elif df['안개'][i-1]==1 and df['안개'][i] ==1:
        data9_3.append(df['예매인원'][i])

df_data9 = pd.DataFrame([['안개',0,(sum(data9_0)/len(data9_0)-diff)/diff,len(data9_0)],
                         ['안개',1,(sum(data9_1)/len(data9_1)-diff)/diff,len(data9_1)],
                         ['안개',2,(sum(data9_2)/len(data9_2)-diff)/diff,len(data9_2)],
                         ['안개',3,(sum(data9_3)/len(data9_3)-diff)/diff,len(data9_3)]],columns = index)




data10_0 = []
data10_1 = []
data10_2 = []
data10_3 = []


for i in range(2,365):
    if df['소낙눈'][i-1]==0 and df['소낙눈'][i] ==0:
        data10_0.append(df['예매인원'][i])
    elif df['소낙눈'][i-1]==0 and df['소낙눈'][i] ==1:
        data10_1.append(df['예매인원'][i])
    elif df['소낙눈'][i-1]==1 and df['소낙눈'][i] ==0:
        data10_2.append(df['예매인원'][i])
    elif df['소낙눈'][i-1]==1 and df['소낙눈'][i] ==1:
        data10_3.append(df['예매인원'][i])

df_data10 = pd.DataFrame([['소낙눈',0,(sum(data10_0)/len(data10_0)-diff)/diff,len(data10_0)],
                         ['소낙눈',1,(sum(data10_1)/len(data10_1)-diff)/diff,len(data10_1)],
                         ['소낙눈',2,(sum(data10_2)/len(data10_2)-diff)/diff,len(data10_2)],
                         ['소낙눈',3,np.nan,len(data10_3)]],columns = index)




data11_0 = []
data11_1 = []
data11_2 = []
data11_3 = []


for i in range(2,365):
    if df['소나기'][i-1]==0 and df['소나기'][i] ==0:
        data11_0.append(df['예매인원'][i])
    elif df['소나기'][i-1]==0 and df['소나기'][i] ==1:
        data11_1.append(df['예매인원'][i])
    elif df['소나기'][i-1]==1 and df['소나기'][i] ==0:
        data11_2.append(df['예매인원'][i])
    elif df['소나기'][i-1]==1 and df['소나기'][i] ==1:
        data11_3.append(df['예매인원'][i])

df_data11 = pd.DataFrame([['소나기',0,(sum(data11_0)/len(data11_0)-diff)/diff,len(data11_0)],
                         ['소나기',1,(sum(data11_1)/len(data11_1)-diff)/diff,len(data11_1)],
                         ['소나기',2,(sum(data11_2)/len(data11_2)-diff)/diff,len(data11_2)],
                         ['소나기',3,(sum(data11_3)/len(data11_3)-diff)/diff,len(data11_3)]],columns = index)




data12_0 = []
data12_1 = []
data12_2 = []
data12_3 = []


for i in range(2,365):
    if df['이슬비'][i-1]==0 and df['이슬비'][i] ==0:
        data12_0.append(df['예매인원'][i])
    elif df['이슬비'][i-1]==0 and df['이슬비'][i] ==1:
        data12_1.append(df['예매인원'][i])
    elif df['이슬비'][i-1]==1 and df['이슬비'][i] ==0:
        data12_2.append(df['예매인원'][i])
    elif df['이슬비'][i-1]==1 and df['이슬비'][i] ==1:
        data12_3.append(df['예매인원'][i])

df_data12 = pd.DataFrame([['이슬비',0,(sum(data12_0)/len(data12_0)-diff)/diff,len(data12_0)],
                         ['이슬비',1,(sum(data12_1)/len(data12_1)-diff)/diff,len(data12_1)],
                         ['이슬비',2,(sum(data12_2)/len(data12_2)-diff)/diff,len(data12_2)],
                         ['이슬비',3,(sum(data12_3)/len(data12_3)-diff)/diff,len(data12_3)]],columns = index)




data13_0 = []
data13_1 = []
data13_2 = []
data13_3 = []


for i in range(2,365):
    if df['천둥번개'][i-1]==0 and df['천둥번개'][i] ==0:
        data13_0.append(df['예매인원'][i])
    elif df['천둥번개'][i-1]==0 and df['천둥번개'][i] ==1:
        data13_1.append(df['예매인원'][i])
    elif df['천둥번개'][i-1]==1 and df['천둥번개'][i] ==0:
        data13_2.append(df['예매인원'][i])
    elif df['천둥번개'][i-1]==1 and df['천둥번개'][i] ==1:
        data13_3.append(df['예매인원'][i])

df_data13 = pd.DataFrame([['천둥번개',0,(sum(data13_0)/len(data13_0)-diff)/diff,len(data13_0)],
                         ['천둥번개',1,(sum(data13_1)/len(data13_1)-diff)/diff,len(data13_1)],
                         ['천둥번개',2,(sum(data13_2)/len(data13_2)-diff)/diff,len(data13_2)],
                         ['천둥번개',3,(sum(data13_3)/len(data13_3)-diff)/diff,len(data13_3)]],columns = index)




data14_0 = []
data14_1 = []
data14_2 = []
data14_3 = []


for i in range(2,365):
    if df['우박'][i-1]==0 and df['우박'][i] ==0:
        data14_0.append(df['예매인원'][i])
    elif df['우박'][i-1]==0 and df['우박'][i] ==1:
        data14_1.append(df['예매인원'][i])
    elif df['우박'][i-1]==1 and df['우박'][i] ==0:
        data14_2.append(df['예매인원'][i])
    elif df['우박'][i-1]==1 and df['우박'][i] ==1:
        data14_3.append(df['예매인원'][i])

df_data14 = pd.DataFrame([['우박',0,(sum(data14_0)/len(data14_0)-diff)/diff,len(data14_0)],
                         ['우박',1,(sum(data14_1)/len(data14_1)-diff)/diff,len(data14_1)],
                         ['우박',2,(sum(data14_2)/len(data14_2)-diff)/diff,len(data14_2)],
                         ['우박',3,np.nan,len(data14_3)]],columns = index)

### 편미분 결과 합치기

In [60]:
df_diff = pd.concat([df_data1,df_data2,df_data3,df_data4,df_data5,df_data6,df_data7,df_data8,df_data9,df_data10,df_data11,df_data12,df_data13,df_data14])
df_diff

  기준 날씨  날씨 변화     평균 변화율  데이터 갯수
0    맑음      0  -0.092618     220
1    맑음      1   0.016530      52
2    맑음      2   0.714483      51
3    맑음      3  -0.277564      40
0     비      0  -0.074488     215
1     비      1  -0.997865      45
2     비      2   2.403103      45
3     비      3  -0.713812      58
0     눈      0   0.062452     329
1     눈      1  -3.024235      14
2     눈      2   1.085505      14
3     눈      3   2.069218       6
0  진눈개비      0  -0.011610     352
1  진눈개비      1  -4.307456       5
2  진눈개비      2   7.893096       5
3  진눈개비      3  -8.021720       1
0    황사      0   0.986876     356
1    황사      1  -2.812001       3
2    황사      2  11.748393       3
3    황사      3  -9.317281       1
0    흐림      0   0.607450     241
1    흐림      1   1.517366      46
2    흐림      2   5.294372      46
3    흐림      3  -3.030518      30
0  구름많음      0   0.995472     195
1  구름많음      1   4.148652      72
2  구름많음      2  -1.842501      72
3  구름많음      3   0.360822      24
0  구름조금      0   0.993042     188
1  구름조금      1  -0.556407      75
2  구름조금      2   2.385673      76
3  구름조금      3   1.772804      24
0    안개      0   0.612561     140
1    안개      1   0.082196      59
2    안개      2  -2.392339      59
3    안개      3   0.536758     105
0   소낙눈      0   0.016534     361
1   소낙눈      1   9.649902       1
2   소낙눈      2  -9.799026       1
3   소낙눈      3        NaN       0
0   소나기      0   0.041926     346
1   소나기      1  -5.832239       7
2   소나기      2   2.545457       7
3   소나기      3   4.773578       3
0   이슬비      0   0.069853     332
1   이슬비      1   0.483349      13
2   이슬비      2  -2.626044      13
3   이슬비      3   2.096728       5
0  천둥번개      0   0.064192     336
1  천둥번개      1   3.929146      12
2  천둥번개      2  -6.514337      12
3  천둥번개      3   5.091130       3
0    우박      0   0.017403     361
1    우박      1 -10.112513       1
2    우박      2   9.649902       1
3    우박      3        NaN       0

### 날씨 변화별 평균 변화율의 평균  즉 어느 날씨가 예매율에 가장 많이 영향을 끼치는지 확인이 가능함

In [61]:
df_diff_abs = df_diff.copy()
df_diff_abs['평균 변화율'] = df_diff_abs['평균 변화율'].abs()
df_diff_abs

df_diff_abs.groupby('기준 날씨').mean().sort_values(by='평균 변화율')

       날씨 변화    평균 변화율  데이터 갯수
기준 날씨
맑음       1.5  0.275299   90.75
안개       1.5  0.905964   90.75
비        1.5  1.047317   90.75
이슬비      1.5  1.318993   90.75
구름조금     1.5  1.426981   90.75
눈        1.5  1.560352   90.75
구름많음     1.5  1.836862   90.75
흐림       1.5  2.612426   90.75
소나기      1.5  3.298300   90.75
천둥번개     1.5  3.899701   90.75
진눈개비     1.5  5.058470   90.75
황사       1.5  6.216138   90.75
소낙눈      1.5  6.488487   90.75
우박       1.5  6.593273   90.75

### 테스트 케이스 결과 저장

In [62]:
df_diff.to_csv("test_result.csv", mode='w')